.profileContainer {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  
}
.profileInfoSection {
  // background-color: rgb(160, 167, 167);
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 15px;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.settngBlock {
  width: 105px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}

// .profileItem {
//   display: flex;
//   margin: 10px;
//   justify-content: space-between;
//   align-items: center;
//   font-size: 2rem;
//   width: max-content;
//   margin-right: 5px;
  
// }


.blocks{
  padding: 10px;
}