.editProfileContainer-white {
  width: 100%;
  padding: 24px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  height: 90vh;
}

.editProfileContainer-dark {
  width: 100%;
  padding: 24px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(135deg, #2a5298, black);

  height: 90vh;
}
