.syrcleItem {
  margin: auto;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3rem;
  color: white;
  user-select: none;
  background-color: rgb(219, 59, 197);
  cursor: pointer;

  &:hover {
    background-color: rgb(236, 229, 13);
    border: solid 0.5px white;
  }

  &:active {
    background-color: rgb(5, 31, 146);
  }
}
