.homeContainer-light {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.homeContainer-dark {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2a5298, black);
}

.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.tryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.avatarItem {
  width: 110px;
  height: 110px;
  background-color: rgb(219, 59, 197);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  user-select: none;

  &:hover {
    background-color: rgb(236, 229, 13);
    border: solid 0.5px white;
  }

  &:active {
    background-color: rgb(255, 0, 195);
  }
}
