.homeContainer-light {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  background-color: white;
  user-select: none;
  min-height: 80vh;
}

.homeContainer-dark {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  min-height: 80vh;
  background: linear-gradient(135deg, #2a5298, black);
}

.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.tryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
  flex: 1;
  padding: 22px;
  box-sizing: border-box;
}

.ourProjectLink {
  color: gold;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border: solid 2px gold;
    border-radius: 40px;
    padding: 20px;
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 20px rgba(255, 254, 254, 0.15);
  }
}
