.main-light {
  min-height: 90vh;
  background-color: white;
  margin-top: -10px;
  
}

.main-dark {
  min-height: 90vh;
  background: linear-gradient(135deg, #2a5298, black);
  margin-top: -76px;
  padding-top: 100px;
}
